body {
    font-family: Arial, sans-serif;
}

.tabuleiro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha {
    display: flex;
}

.celula {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.celula:hover {
    background-color: #ccc;
}
